
.vs/Proyecto/FileContentIndex/501d9066-a289-4e13-ade7-e8bde76feab1.vsidx
.vs/Proyecto/FileContentIndex/6f41b980-f0df-43d8-bb27-683afeca6fec.vsidx
.vs/Proyecto/FileContentIndex/7f7f2e6f-f6c5-4892-8ee1-7ae9e3f72ac0.vsidx
.vs/Proyecto/FileContentIndex/a964ae1c-3f75-4257-8819-028e94a729b6.vsidx
.vs/Proyecto/FileContentIndex/be01619a-0d91-406b-9379-694a8c5d59fa.vsidx
.vs/Proyecto/FileContentIndex/cd7ccccf-800c-412a-9550-607b577e0fed.vsidx
.vs/Proyecto/FileContentIndex/d9f837b3-50b3-44bb-9d68-75f0d49d3e42.vsidx
.vs/ProjectEvaluation/proyecto.metadata.v9.bin
.vs/ProjectEvaluation/proyecto.projects.v9.bin
.vs/ProjectEvaluation/proyecto.strings.v9.bin
.vs/Proyecto/DesignTimeBuild/.dtbcache
.vs/Proyecto/DesignTimeBuild/.dtbcache.v2
.vs/Proyecto/FileContentIndex/1a121340-9e2f-4327-85ec-726d15dced1a.vsidx
.vs/Proyecto/FileContentIndex/221a0cc8-4dab-4518-9027-8d6531fac7ec.vsidx
.vs/Proyecto/FileContentIndex/a964ae1c-3f75-4257-8819-028e94a729b6.vsidx
.vs/Proyecto/FileContentIndex/cd7ccccf-800c-412a-9550-607b577e0fed.vsidx
.vs/Proyecto/FileContentIndex/d9f837b3-50b3-44bb-9d68-75f0d49d3e42.vsidx
.vs/Proyecto/FileContentIndex/f36d89cc-5567-48ef-849e-d9d9036e2a34.vsidx
.vs/Proyecto/v15/.suo
.vs/Proyecto/v15/Server/sqlite3/db.lock
.vs/Proyecto/v15/Server/sqlite3/storage.ide
.vs/Proyecto/v15/Server/sqlite3/storage.ide-shm
.vs/Proyecto/v15/Server/sqlite3/storage.ide-wal
.vs/Proyecto/v17/.suo
.vs/Proyecto/v17/DocumentLayout.json
.vs/ProjectEvaluation/proyecto.metadata.v9.bin
.vs/ProjectEvaluation/proyecto.projects.v9.bin
.vs/ProjectEvaluation/proyecto.strings.v9.bin
.vs/Proyecto/DesignTimeBuild/.dtbcache.v2
.vs/Proyecto/FileContentIndex/221a0cc8-4dab-4518-9027-8d6531fac7ec.vsidx
.vs/Proyecto/FileContentIndex/a964ae1c-3f75-4257-8819-028e94a729b6.vsidx
.vs/Proyecto/FileContentIndex/cd7ccccf-800c-412a-9550-607b577e0fed.vsidx
.vs/Proyecto/FileContentIndex/d9f837b3-50b3-44bb-9d68-75f0d49d3e42.vsidx
.vs/Proyecto/FileContentIndex/f36d89cc-5567-48ef-849e-d9d9036e2a34.vsidx
.vs/Proyecto/v17/.suo
.vs/Proyecto/v17/DocumentLayout.json
